<div class="spacer-small hidden-xs hidden-sm">
</div>
<section class="section-box">
    <div class="container">
        <article class="col-md-12 col-xs-12">
            <p><span class="interest">Interested in collaborating with us? </span><a href="/contact" class="btn btn-primary">Get in touch</a></p>
        </article>
    </div>
</section>
<footer class="container footer-box">
    <nav class="links">
        <a href="http://www.colearnr.com/about-us">About us</a>
        <a href="http://www.colearnr.com/terms.html">Terms of Use</a>
        <a href="http://www.colearnr.com/privacy.html">Privacy Policy</a>
        <a href="http://www.colearnr.com/help">Support</a>
    </nav>
</footer>
<% include ../../includes/underfooter.html %>
<script src="<%- page_options.cdn_prefix %>/javascripts/jquery-1.9.1.min.js" ></script>
<script src="<%- page_options.cdn_prefix %>/javascripts/bootstrap.min.js"></script>
<% include ../../includes/analytics.html %>
