<header>
<div class="container">
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <header>
        <div class="container" style="padding-left: 0; padding-right: 0;">
            <div class="navbar-header">
                <a href="/" class="navbar-brand"></a>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="glyphicon glyphicon-bar"></span>
                    <span class="glyphicon glyphicon-bar"></span>
                    <span class="glyphicon glyphicon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li id="what-btn"><a href="http://www.colearnr.com/#what">What is CoLearnr?</a></li>
                <li><a target="_new" href="http://www.colearnr.com/tour">Tour</a></li>
                <li><a href="http://blog.colearnr.com">Blog</a></li>
                <li><a class="" href="/login">Login</a></li>
            </ul>
            </div>
        </div>
    </header>
</nav>
</div>
</header>
