<link rel="shortcut icon" href="/images/favicon.ico" />

<!-- start: CSS -->
<% if (config.custom_font) { %>
<link href="/font/<%= config.custom_font %>/<%= config.custom_font %>.css" rel="stylesheet" type="text/css">
<% } %>
<link href="/font/source-sans-pro/source-sans-pro.css" rel="stylesheet" type="text/css">
<link href="/font/boogaloo/boogaloo.css" rel="stylesheet" type="text/css">
<link href="/font/economica/economica.css" rel="stylesheet" type="text/css">
<link href="/stylesheets/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="/stylesheets/jquery-ui/jquery-ui-1.10.4.custom.min.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="/vendor/fontawesome/css/font-awesome.min.css?<%- page_options.version %>">
<link href="/dist/stylesheets/style.min.css" rel="stylesheet" type="text/css">
<link href="/stylesheets/videojs/video-embed.css" rel="stylesheet" type="text/css">
<link href="/stylesheets/layout/layout-default.css" rel="stylesheet" type="text/css">
<link href="/vendor/OwlCarousel2/dist/assets/owl.carousel.min.css" rel="stylesheet" type="text/css">
<link href="/stylesheets/theme.css" rel="stylesheet" type="text/css">
;
