<style type="text/css" media="screen">
    html, body  { height:100%; }
    body { padding:0; overflow:hidden; width: 100%; margin-top: 0; margin-bottom: 0; margin-left: auto; margin-right: auto; max-height: 100%;}
    #flashContent { display:none; }
    #fpabt {display: none;}
</style>
<link rel="stylesheet" type="text/css" href="<%- page_options.cdn_prefix %>/javascripts/flexpaper/css/flexpaper_flat.css?<%- page_options.version %>" />
<link rel="stylesheet" type="text/css" href="<%- page_options.cdn_prefix %>/javascripts/flexpaper/css/flexpaper_custom.css?<%- page_options.version %>" />
<script type="text/javascript" src="/javascripts/flexpaper/jquery.min.js?<%- page_options.version %>"></script>
<script type="text/javascript" src="/javascripts/flexpaper/jquery.extensions.min.js?<%- page_options.version %>"></script>
<script src="<%- page_options.cdn_prefix %>/vendor/postmessage/ender-postmessage.min.js"></script>
<script type="text/javascript" src="/javascripts/socket.io/socket.io.min.js"></script>
<script type="text/javascript">
    var socket = io.connect('<%- config.socket_server %>', {
        'reconnection delay': 1000
    });

    socket.on('connect', function (data) {
        var sessionid = (socket.socket && socket.socket.sessionid) ? socket.socket.sessionid : null;
        socket.emit('api:join_room', 'lbit:<%- lbit._id %>');
        socket.on('api:addAnnotation', function(data){
            if(data.sessionid != sessionid && window.$FlexPaper && $FlexPaper('documentViewer')) {
                $FlexPaper('documentViewer').addMark(data.annotationData);
            }
        });
        socket.on('api:updateAnnotation', function(data){
            if(data.sessionid != sessionid && window.$FlexPaper && $FlexPaper('documentViewer')) {
                window.updatedAnnotationId = data.annotationData.annotationId;
                $FlexPaper('documentViewer').removeMark(data.annotationData);
                $FlexPaper('documentViewer').addMark(data.annotationData);
            }
        });
        socket.on('api:deleteAnnotation', function(data){
            if(data.sessionid != sessionid && window.$FlexPaper && $FlexPaper('documentViewer')) {
                window.updatedAnnotationId = data.annotationData.annotationId;
                $FlexPaper('documentViewer').removeMark(data.annotationData);
            }
        });
    });
</script>
<script type="text/javascript" src="/javascripts/flexpaper/flexpaper.js?<%- page_options.version %>"></script>
<script type="text/javascript" src="/javascripts/flexpaper/flexpaper_handlers.js?<%- page_options.version %>"></script>
<script type="text/javascript">
    jQuery.get((!window.isTouchScreen)?'/javascripts/flexpaper/UI_flexpaper_desktop_flat.html':'/javascripts/flexpaper/UI_flexpaper_mobile.html',
        function(toolbarData) {
            $('#documentViewer').FlexPaperViewer(
            { config : {
                <% if (lbit.optimised) { %>
                PDFFile : "<%- lbit.optimised_url %>",
                JSONFile : "<%- lbit.pdf_json_url %>",
                <% if (lbit.pdf_png_url) { %>
                IMGFiles: "<%- lbit.pdf_png_url %>",
                <% } %>
                <% if (lbit.thumb_url) { %>
                ThumbIMGFiles: "<%- lbit.thumb_url %>",
                <% } %>
                <% } else { %>
                PDFFile : "/r/<%- lbit._id %>/pdf",
                <% } %>
                <% if (lbit.optimised) { %>
                RenderingOrder : 'html4,html5',
                <% } else { %>
                RenderingOrder : 'html5',
                <% } %>
                ZoomTime : 0.5,
                ZoomInterval : 0.1,
                FitPageOnLoad : false,
                FitWidthOnLoad : true,
                ProgressiveLoading : true,
                MinZoomSize : 0.2,
                MaxZoomSize : 5,
                MixedMode : <%- lbit.png_generated || false %>,
                Toolbar                 : toolbarData,
                BottomToolbar           : '/javascripts/flexpaper/UI_flexpaper_annotations.html',
                InitViewMode : 'Portrait',
                FullScreenAsMaxWindow: true,
                SearchMatchAll: true,
                StickyTools : true,
                AnnotationToolsVisible: true,
                <% if (locals.options && options.start) { %>
                    StartAtPage : <%- options.start %>,
                <% } else if (locals.lastPosition && (!lbit.start || (lbit.start && locals.lastPosition > lbit.start))) { %>
                    StartAtPage : <%- locals.lastPosition %>,
                <% } else if (lbit.start) { %>

                    StartAtPage : <%- lbit.start %>,
                <% } %>
                ViewModeToolsVisible : true,
                ZoomToolsVisible : true,
                NavToolsVisible : true,
                CursorToolsVisible : false,
                SearchToolsVisible : true,
                EnableSearchAbstracts: true,
                PublicationTitle: "<%- lbit.title || '' %>",
                <% if(locals.user && !locals.user.guestMode) { %>
                UserCollaboration       : true,
                CurrentUser             : '<% if (req.user) { %><%- req.user.displayName %><% } %>',
                <% } %>
                AnnotationToolsVisible: <% if(locals.user && !locals.user.guestMode) { %>true<% } else { %>false<% } %>,
                BackgroundColor: '#FFFFFF',
                jsDirectory: '/javascripts/flexpaper/',
                cssDirectory: '/javascripts/flexpaper/css/',
                localeDirectory: '/javascripts/flexpaper/locale/',
                WMode : 'transparent',
                AnalyticsId: '<%- lbit._id %>',
                TopicId: '<% if (locals.topicId) { %><%- locals.topicId %><% } %>',
                user: '<% if (req.user) { %><%- req.user._id %><% } %>',
                key : "<%- config.pdf_viewer_key %>"
           }}
        );
    });

    $(window).on("debouncedresize", function() {
        setTimeout(function () {
            if(window.$FlexPaper && $FlexPaper('documentViewer')) {
                $FlexPaper('documentViewer').fitWidth();
            }
        }, 50);
    });

    if ($.receiveMessage) {
        $.receiveMessage(function (msg) {
            if (msg && msg.data && typeof msg.data == "string" && msg.data.indexOf('#p=') > -1) {
                var page = msg.data.split('#p=')[1];
                page = parseInt(page, 10);
                if (page && !isNaN(page)) {
                    $FlexPaper('documentViewer').gotoPage(page);
                }
            }
        });
    }

    $(window).bind('hashchange', function(event) {
        if (window.location.hash && window.location.hash.indexOf('p=') != -1) {
            var page = msg.data.split('#p=')[1];
            page = parseInt(page, 10);
            if (page && !isNaN(page)) {
                $FlexPaper('documentViewer').gotoPage(page);
            }
        }
    });

</script>
