<!-- start: Under Footer -->
<div id="under-footer" class="footer">

    <!-- start: Container -->
    <div class="container">

        <!-- start: Row -->
        <div class="row">

            <!-- start: Under Footer Copyright -->
            <div class="col-md-11" style="padding: 0 0;">

                <div id="under-footer-copyright">
                    Powered by <a href="//www.colearnr.com">CoLearnr</a>
                </div>

            </div>
            <!-- end: Under Footer Copyright -->            

        </div>
        <!-- end: Row -->

    </div>
    <!-- end: Container  -->

</div>
<!-- end: Under Footer -->


