<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

        <!-- Facebook sharing information tags -->
        <meta property="og:title" content="Password reset request" />

        <title>Password reset request</title>
        <% include includes/styles.html %>
    </head>
    <body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0">
        <center>
            <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="backgroundTable">
                <tr>
                    <td align="center" valign="top" style="padding-top:20px;">
                        <table border="0" cellpadding="0" cellspacing="0" width="600" id="templateContainer">
                            <% include includes/header.html %>
                            <tr>
                                <td align="center" valign="top">
                                    <!-- // Begin Template Body \\ -->
                                    <table border="0" cellpadding="0" cellspacing="0" width="600" id="templateBody">
                                        <tr>
                                            <td valign="top">

                                                <!-- // Begin Module: Standard Content \\ -->
                                                <table border="0" cellpadding="20" cellspacing="0" width="100%">
                                                    <tr>
                                                        <td valign="top" class="bodyContent">
                                                            <div>
                                                                <h1 class="h1">Your password reset request!</h1>
                                                                <br/>
                                                                You asked us to reset your password. Your new password is below.
                                                                <br /><br />
                                                                <%= password %>
                                                                <br />
                                                                <p>Please use this new password from now on. If you don't remember making this reset request, please refer to the support <a href="http://support.colearnr.com">site</a> or <a href="mailto:support@colearnr.com">email us</a>.</p>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td align="center" valign="top" style="padding-top:0;">
                                                            <table border="0" cellpadding="15" cellspacing="0" class="templateButton">
                                                                <tr>
                                                                    <td valign="middle" class="templateButtonContent">
                                                                        <div>
                                                                            <a href="<%= base_url %>/login" target="_blank">Take me to CoLearnr</a>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </table>
                                                <!-- // End Module: Standard Content \\ -->

                                            </td>
                                        </tr>
                                    </table>
                                    <!-- // End Template Body \\ -->
                                </td>
                            </tr>
                            <% include includes/footer.html %>
                        </table>
                        <br />
                    </td>
                </tr>
            </table>
        </center>
    </body>
</html>
