html,body { height: 100%; margin: 0px; padding: 0px; }

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    background: #e3e3e3;
    color: #000;
    font-size: 12px;
}

p {
	font: 14px 'Source Sans Pro', sans-serif;
    text-shadow: #ffffff 0 1px 0;
}

a:link,
a:visited {
    text-decoration:none;
}

a {
    color: #486D98;
}

a:hover {
    color: #486D98;
}

h1 {
  padding: 0px 15px 15px 15px;
  margin: 0 auto;
  font-family: 'Economica', Arial, sans-serif !important;
  color: rgba(80, 80, 80, 0.80);
  font-size: 32px;
}

h3 {
    padding: 0px 10px 0px 0px;
    margin: 0px 0px 5px 0px;
    font-family: 'Economica', Arial, sans-serif !important;
    color: rgba(80, 80, 80, 0.80);
    font-size: 26px;
}

/*
* headers
*/

h2 {
    text-align: center;
    font: 30px 'Source Sans Pro', sans-serif;
    margin: 18px 0;
}

h4 {
    font: 600 16px/26px 'Source Sans Pro', sans-serif;
}

/*
* navigation lists on both footer and nav-header
*/

header {
    width: 100%;
    border-bottom: 1px solid #fafafa;
    background: #f6f6f6; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y2ZjZmNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlYWVhZWEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #f6f6f6 0%, #eaeaea 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f6f6), color-stop(100%,#eaeaea)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f6f6f6 0%,#eaeaea 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f6f6f6 0%,#eaeaea 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f6f6f6 0%,#eaeaea 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #f6f6f6 0%,#eaeaea 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#eaeaea',GradientType=0 ); /* IE6-8 */
    z-index: 1000;
    margin-bottom: 50px;
}

.navbar-brand {
    position: relative;
    margin-right: 10px;
    margin-left: 0px;
    color: #000;
    background-image: url("/images/logo-main.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    width: 140px;
    vertical-align: middle;
    max-height: 50px;
}

.navbar-brand:hover {
    color: #486D98;
    text-decoration: none;
}

.glyphicon-bar {
    margin-bottom: 3px;
    display: block;
    width: 18px;
    height: 2px;
    background: #a3a3a3 !important;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}

.nav-collapse.collapse {
    height: auto \9 !important;
    overflow: visible \9 !important;
    position: relative;
    z-index: 9999;
}

.navbar .nav-widgets {
    float: right;
    position: relative;
}

.navbar,
.nav,
.navbar-inverse {
    background: transparent !important;
    filter: none !important;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    padding: 0px;
    margin: 0;
}

.navbar .nav > li > a {
    color: #000;
    text-shadow: 0 1px 0 #ffffff;
    border-top:4px solid transparent;
    font-size: 14px;
    padding: 12px 20px;
    padding: 12px 10px \9;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover {
    color: #F8F8F8;
    background-color: #486D98;
}

.navbar .nav > .active > a,
.navbar .nav > .active > a:focus {
    color: #080808 !important;
    text-decoration: none;
    background-color: transparent !important;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.navbar .nav > .active > a:hover {
    background: transparent !important;
    color: #486D98 !important;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.navbar .nav .active a:hover > .caret {
    border-top-color: #fff !important;
    border-bottom-color: #fff !important;
}

.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a {
    color: #fff;
    background: #080808 !important;
}

.dropdown-menu .active > a {
    color: #080808 !important;
    background: transparent !important;
}
.dropdown-menu .active > a:hover {
    color: #486D98 !important;
    background: transparent !important;
}

.navbar .navbar-btn {
    position: relative;
    background: transparent;
    text-shadow: 0 1px 0px #fff;
    color: #a3a3a3;
    border: none;
    border-left: 1px solid #bfbfbf;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    padding: 19px 15px 18px 15px;
    margin-top: 0px;
    margin-right: 0px;
}

.navbar .navbar-btn:after,
.navbar .navbar-btn:before {
    content: "";
    height: 100%;
    position: absolute;
    display: block;
    font-size: 20px;
    font-weight: 200;
    border-right: 1px solid #fafafa;
    left: 0px;
    top: 0px;
}

.navbar .navbar-btn:before {
    content: "";
    height: 100%;
    position: absolute;
    display: block;
    font-size: 20px;
    font-weight: 200;
    border-right: 1px solid #fafafa;
    left: -2px;
    top: 0px;
}

.navbar .navbar-btn:hover {
    background: transparent;
    color: #486D98;
}

.nav .active .dropdown-toggle .caret {
    border-top-color: #080808 !important;
    border-bottom-color: #080808 !important;
}

/*
* big sign up button
*/

.big-btn {
    display: inline-block;
    font: 400 24px/39px 'Source Sans Pro', sans-serif;
    padding: 12px 36px;
	   margin: 8px 0px;
    -webkit-border-radius: 8px;
	-moz-border-radius: 8px;
    border-radius: 8px;
    color:#fff;
	 background-color: #486d98;
}

.apollo {
    padding-left: 20px;
}
.apollo .control-group {
  margin-bottom: 0;
}
.apollo .popover {
  width: 300px;
}
.apollo strong {
  font-weight: 700;
}
.apollo-heading {
  text-align: center;
  font-size: 2.2em;
  color: #323232;
  padding-bottom: 15px;
}
.apollo.register .apollo-register {
  display: block;
}
.apollo.register .apollo-back {
  display: block;
}
.apollo.register .apollo-back-visible {
  display: block;
}
.apollo.register .apollo-login {
  display: none;
}
.apollo.forgotten-password .apollo-forgotten-password {
  display: block;
}
.apollo.forgotten-password .apollo-register {
  display: none;
}
.apollo.forgotten-password .apollo-back {
  display: block;
}
.apollo.forgotten-password .apollo-login {
  display: none;
}
.apollo .apollo-login {
}
.apollo .apollo-login .apollo-seperator:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  border-bottom: 1px solid #cccccc;
}
.apollo .apollo-login .apollo-seperator:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  border-bottom: 1px solid #cccccc;
}
.apollo .apollo-forgotten-password {
  display: none;
}
.apollo .apollo-password-reset {
  display: none;
  text-align: center;
}
.apollo .apollo-register {
  display: none;
}
.apollo .apollo-register .apollo-seperator:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 36%;
  border-bottom: 1px solid #cccccc;
}
.apollo .apollo-register .apollo-seperator:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  width: 36%;
  border-bottom: 1px solid #cccccc;
}
.apollo .apollo-register-account {
  text-align: center;
  margin: 25px 0 0;
}
.apollo .apollo-change-account,
.apollo .apollo-back {
  margin: 25px 0 0 0;
  text-align: center;
}

.apollo .apollo-back-visible {
  font-size: 12px;
  margin: 25px 0 0 0;
  text-align: center;
}

.apollo-social {
  width: 128px;
  height: auto;
  display: block;
  background: url(../images/logo-main.png) no-repeat center center;
}

.apollo-seperator {
  position: relative;
  display: block;
  margin: 30px 0 30px 0;
  text-align: center;
  color: #666;
}

.apollo-container {
}
.apollo-container .apollo-logging-in,
.apollo-container .apollo-registering {
  text-align: center;
  display: none;
}
.apollo-container .apollo-image {

}
.apollo-container .btn-register {
  margin-bottom: 20px;
}
.apollo-container .btn-linkedin {
  margin-bottom: 20px;
}
.apollo-container .btn-twitter {
  margin-bottom: 20px;
}
.apollo-container .btn-facebook {
  margin-bottom: 20px;
}
.apollo-container form {
  padding: 0;
  margin: 0;
}

.apollo-container form textarea,
.apollo-container form input[type="text"],
.apollo-container form input[type="email"],
.apollo-container form input[type="password"] {
  width: 100%;
}

.apollo-container form textarea,
.apollo-container form input[type="text"],
.apollo-container form input[type="email"],
.apollo-container form input[type="checkbox"],
.apollo-container form input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}

.apollo-container form textarea {
  width: 280px;
}

.btn-primary {
    background-color: #486D98;
    border-color: #213a59;
}

.btn-primary:hover {
    background-color: #486D98;
    border-color: #213a59;
    text-decoration: none;
    color: #FFF;
}

label.error {
  margin-right: 10px;
}

.client-logo {
    
}

.login-box {
    padding: 0;
    opacity: 0.9;
}

.full {
    min-height: 500px;
}

.login-box,
.client-logo,
.intro-content {
    background: #f6f6f6; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y2ZjZmNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlYWVhZWEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #f6f6f6 0%, #eaeaea 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f6f6), color-stop(100%,#eaeaea)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f6f6f6 0%,#eaeaea 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f6f6f6 0%,#eaeaea 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f6f6f6 0%,#eaeaea 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #f6f6f6 0%,#eaeaea 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#eaeaea',GradientType=0 ); /* IE6-8 */
}

.intro-content {
    border-right: rgba(0,0,0,0.8) 1px solid;
    padding-right: 20px;
}

.intro-desc p {
    font-size: 1.8em;
    font-weight: normal;
    line-height: 40px;
}

.intro-details p {
    font-size: 1.2em;
    line-height: 25px;
}

input[type=radio], input[type=checkbox] {
    margin: 2px 0 0;
}
/**
 * 1. Avoid the IE 10-11 `min-height` bug.
 * 2. Set `flex-shrink` to `0` to prevent some browsers from
 *    letting these items shrink to smaller than their content's default
 *    minimum size. See http://bit.ly/1Mn35US for details.
 * 3. Use `%` instead of `vh` since `vh` is buggy in older mobile Safari.
 */

.Site {
    display: flex;
    flex-direction: column;
    height: 100%; /* 1, 3 */
}

.Site-header,
.Site-footer {
    flex: none; /* 2 */
}

.Site-content {
    flex: 1 0 auto; /* 2 */
    padding: var(--space) var(--space) 0;
    width: 100%;
}
.Site-content::after {
    content: '\00a0'; /* &nbsp; */
    display: block;
    margin-top: var(--space);
    height: 0px;
    visibility: hidden;
}
@media (--break-lg) {
    .Site-content {
        padding-top: var(--space-lg);
    }
    .Site-content::after {
        margin-top: var(--space-lg);
    }
}

.Site-content--full {
    padding: 0;
}
.Site-content--full::after {
    content: none;
}

.Aligner {
    display: flex;
    align-items: center;
    min-height: 24em;
    justify-content: center;
}

.Aligner-item {
    flex: 1;
}

.Aligner-item--top {
    align-self: flex-start;
}

.Aligner-item--bottom {
    align-self: flex-end;
}

.Aligner-item--fixed {
    flex: 1;
    max-width: 800px;
}

@media (max-width: 1200px) {
    .Aligner-item--fixed {
        max-width: 760px;
    }
}

@media only screen and (max-width: 767px) {
    .apollo {
        padding-right: 20px;
    }
}

.Grid {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.Grid-cell {
    flex: 1;
}

.Grid--flexCells > .Grid-cell {
    display: flex;
}

.Grid--top {
    align-items: flex-start;
}

.Grid--bottom {
    align-items: flex-end;
}

.Grid--center {
    align-items: center;
}

.Grid--justifyCenter {
    justify-content: center;
}

.Grid-cell--top {
    align-self: flex-start;
}

.Grid-cell--bottom {
    align-self: flex-end;
}

.Grid-cell--center {
    align-self: center;
}

.Grid-cell--autoSize {
    flex: none;
}

.Grid--fit > .Grid-cell {
    flex: 1;
}

.Grid--full > .Grid-cell {
    flex: 0 0 100%;
}

.Grid--1of2 > .Grid-cell {
    flex: 0 0 50%;
}

.Grid--1of3 > .Grid-cell {
    flex: 0 0 33.3333%;
}

.Grid--1of4 > .Grid-cell {
    flex: 0 0 25%;
}

@media (--break-sm) {
    .small-Grid--fit > .Grid-cell {
        flex: 1;
    }
    .small-Grid--full > .Grid-cell {
        flex: 0 0 100%;
    }
    .small-Grid--1of2 > .Grid-cell {
        flex: 0 0 50%;
    }
    .small-Grid--1of3 > .Grid-cell {
        flex: 0 0 33.3333%;
    }
    .small-Grid--1of4 > .Grid-cell {
        flex: 0 0 25%;
    }
}

@media (--break-md) {
    .med-Grid--fit > .Grid-cell {
        flex: 1;
    }
    .med-Grid--full > .Grid-cell {
        flex: 0 0 100%;
    }
    .med-Grid--1of2 > .Grid-cell {
        flex: 0 0 50%;
    }
    .med-Grid--1of3 > .Grid-cell {
        flex: 0 0 33.3333%;
    }
    .med-Grid--1of4 > .Grid-cell {
        flex: 0 0 25%;
    }
}

@media (--break-lg) {
    .large-Grid--fit > .Grid-cell {
        flex: 1;
    }
    .large-Grid--full > .Grid-cell {
        flex: 0 0 100%;
    }
    .large-Grid--1of2 > .Grid-cell {
        flex: 0 0 50%;
    }
    .large-Grid--1of3 > .Grid-cell {
        flex: 0 0 33.3333%;
    }
    .large-Grid--1of4 > .Grid-cell {
        flex: 0 0 25%;
    }
}

.Grid--gutters {
    margin: -1em 0 1em -1em;
}
.Grid--gutters > .Grid-cell {
    padding: 1em 0 0 1em;
}

.Grid--guttersLg {
    margin: -1.5em 0 1.5em -1.5em;
}
.Grid--guttersLg > .Grid-cell {
    padding: 1.5em 0 0 1.5em;
}

.Grid--guttersXl {
    margin: -2em 0 2em -2em;
}
.Grid--guttersXl > .Grid-cell {
    padding: 2em 0 0 2em;
}

@media (--break-sm) {
    .small-Grid--gutters {
        margin: -1em 0 1em -1em;
    }
    .small-Grid--gutters > .Grid-cell {
        padding: 1em 0 0 1em;
    }
    .small-Grid--guttersLg {
        margin: -1.5em 0 1.5em -1.5em;
    }
    .small-Grid--guttersLg > .Grid-cell {
        padding: 1.5em 0 0 1.5em;
    }
    .small-Grid--guttersXl {
        margin: -2em 0 2em -2em;
    }
    .small-Grid--guttersXl > .Grid-cell {
        padding: 2em 0 0 2em;
    }
}

@media (--break-md) {
    .med-Grid--gutters {
        margin: -1em 0 1em -1em;
    }
    .med-Grid--gutters > .Grid-cell {
        padding: 1em 0 0 1em;
    }
    .med-Grid--guttersLg {
        margin: -1.5em 0 1.5em -1.5em;
    }
    .med-Grid--guttersLg > .Grid-cell {
        padding: 1.5em 0 0 1.5em;
    }
    .med-Grid--guttersXl {
        margin: -2em 0 2em -2em;
    }
    .med-Grid--guttersXl > .Grid-cell {
        padding: 2em 0 0 2em;
    }
}

@media (--break-lg) {
    .large-Grid--gutters {
        margin: -1em 0 1em -1em;
    }
    .large-Grid--gutters > .Grid-cell {
        padding: 1em 0 0 1em;
    }
    .large-Grid--guttersLg {
        margin: -1.5em 0 1.5em -1.5em;
    }
    .large-Grid--guttersLg > .Grid-cell {
        padding: 1.5em 0 0 1.5em;
    }
    .large-Grid--guttersXl {
        margin: -2em 0 2em -2em;
    }
    .large-Grid--guttersXl > .Grid-cell {
        padding: 2em 0 0 2em;
    }
}

#nodes {
    position: relative;
}
