@import "includes/base.scss";

html {
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  background: $mercury;
  color: $black;
  font-size: 12px;
  .simple {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    color: $black;
    font-size: 12px;
  }
}

.noMargin {
  margin-left: 0px !important;
}

a {
  color: $black;
  text-decoration: none;
}

.caret {
  color: $cl_blue_border;
}

a:hover .caret {
  color: $white;
}

.popover a, .level a {
  color: $black;
}

.btn-link {
  color: $cl_blue_border;
}

a:hover {
  color: $cl_blue;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Source Sans Pro";
  font-weight: normal;
  color: #414141;
  margin: 10px 0px 10px 0px;
  padding: 0;
}

blockquote {
  margin: 20px auto 20px auto;
  width: 80%;
  font: (12px / 20px) normal "Source Sans Pro", sans-serif, helvetica;
  padding-left: 15px;
  border-left: 3px solid #ccc;
}

h1 {
  font-size: 36px;
  line-height: 40px;
}

.jumbotron h1 {
  font-size: 40px;
  line-height: 40px;
}

h2 {
  font-size: 20px;
  line-height: 40px;
}

h3 {
  font-size: 18px;
  line-height: 32px;
}

h4 {
  font-size: 16px;
  line-height: 28px;
}

h5 {
  font-size: 12px;
  line-height: 26px;
}

h6 {
  font-size: 11px;
  line-height: 24px;
}

hr {
  position: relative;
  margin: 20px 0;
  border: 0;
  border: none;
  height: 2px;
  &:before, &:after {
    content: "";
    width: 100%;
    position: absolute;
    height: 1px;
    top: 50%;
    left: 0;
  }
  &:before {
    margin-top: -1px;
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2JiYmJiYiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwJSIgc3RvcC1jb2xvcj0iI2JiYmJiYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjkwJSIgc3RvcC1jb2xvcj0iI2JiYmJiYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiYmJiYmIiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(left, rgba(187, 187, 187, 0) 0%, rgba(187, 187, 187, 1) 10%, rgba(187, 187, 187, 1) 90%, rgba(187, 187, 187, 0) 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(187, 187, 187, 0)), color-stop(10%, rgba(187, 187, 187, 1)), color-stop(90%, rgba(187, 187, 187, 1)), color-stop(100%, rgba(187, 187, 187, 0)));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, rgba(187, 187, 187, 0) 0%, rgba(187, 187, 187, 1) 10%, rgba(187, 187, 187, 1) 90%, rgba(187, 187, 187, 0) 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, rgba(187, 187, 187, 0) 0%, rgba(187, 187, 187, 1) 10%, rgba(187, 187, 187, 1) 90%, rgba(187, 187, 187, 0) 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(left, rgba(187, 187, 187, 0) 0%, rgba(187, 187, 187, 1) 10%, rgba(187, 187, 187, 1) 90%, rgba(187, 187, 187, 0) 100%);
    /* IE10+ */
    background: linear-gradient(to right, rgba(187, 187, 187, 0) 0%, rgba(187, 187, 187, 1) 10%, rgba(187, 187, 187, 1) 90%, rgba(187, 187, 187, 0) 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00bbbbbb', endColorstr='#00bbbbbb',GradientType=1 );
    /* IE6-8 */
  }
  &:after {
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2RkZGRkZCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwJSIgc3RvcC1jb2xvcj0iI2RkZGRkZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjkwJSIgc3RvcC1jb2xvcj0iI2RkZGRkZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkZGRkZGQiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(left, rgba(221, 221, 221, 0) 0%, rgba(221, 221, 221, 1) 10%, rgba(221, 221, 221, 1) 90%, rgba(221, 221, 221, 0) 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(221, 221, 221, 0)), color-stop(10%, rgba(221, 221, 221, 1)), color-stop(90%, rgba(221, 221, 221, 1)), color-stop(100%, rgba(221, 221, 221, 0)));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, rgba(221, 221, 221, 0) 0%, rgba(221, 221, 221, 1) 10%, rgba(221, 221, 221, 1) 90%, rgba(221, 221, 221, 0) 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, rgba(221, 221, 221, 0) 0%, rgba(221, 221, 221, 1) 10%, rgba(221, 221, 221, 1) 90%, rgba(221, 221, 221, 0) 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(left, rgba(221, 221, 221, 0) 0%, rgba(221, 221, 221, 1) 10%, rgba(221, 221, 221, 1) 90%, rgba(221, 221, 221, 0) 100%);
    /* IE10+ */
    background: linear-gradient(to right, rgba(221, 221, 221, 0) 0%, rgba(221, 221, 221, 1) 10%, rgba(221, 221, 221, 1) 90%, rgba(221, 221, 221, 0) 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00dddddd', endColorstr='#00dddddd',GradientType=1 );
    /* IE6-8 */
  }
}

.separate {
  position: relative;
  padding-right: 30px;
  &:before {
    content: "";
    width: 1px;
    position: absolute;
    height: 100%;
    top: 0px;
    right: 0px;
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2JiYmJiYiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwJSIgc3RvcC1jb2xvcj0iI2JiYmJiYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjkwJSIgc3RvcC1jb2xvcj0iI2JiYmJiYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiYmJiYmIiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(187, 187, 187, 0) 0%, rgba(187, 187, 187, 1) 10%, rgba(187, 187, 187, 1) 90%, rgba(187, 187, 187, 0) 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(187, 187, 187, 0)), color-stop(10%, rgba(187, 187, 187, 1)), color-stop(90%, rgba(187, 187, 187, 1)), color-stop(100%, rgba(187, 187, 187, 0)));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(187, 187, 187, 0) 0%, rgba(187, 187, 187, 1) 10%, rgba(187, 187, 187, 1) 90%, rgba(187, 187, 187, 0) 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(187, 187, 187, 0) 0%, rgba(187, 187, 187, 1) 10%, rgba(187, 187, 187, 1) 90%, rgba(187, 187, 187, 0) 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(187, 187, 187, 0) 0%, rgba(187, 187, 187, 1) 10%, rgba(187, 187, 187, 1) 90%, rgba(187, 187, 187, 0) 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, rgba(187, 187, 187, 0) 0%, rgba(187, 187, 187, 1) 10%, rgba(187, 187, 187, 1) 90%, rgba(187, 187, 187, 0) 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00bbbbbb', endColorstr='#00bbbbbb',GradientType=0 );
    /* IE6-8 */
  }
  &:after {
    content: "";
    width: 1px;
    position: absolute;
    height: 100%;
    top: 0px;
    right: 1px;
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2RkZGRkZCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwJSIgc3RvcC1jb2xvcj0iI2RkZGRkZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjkwJSIgc3RvcC1jb2xvcj0iI2RkZGRkZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkZGRkZGQiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(221, 221, 221, 0) 0%, rgba(221, 221, 221, 1) 10%, rgba(221, 221, 221, 1) 90%, rgba(221, 221, 221, 0) 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(221, 221, 221, 0)), color-stop(10%, rgba(221, 221, 221, 1)), color-stop(90%, rgba(221, 221, 221, 1)), color-stop(100%, rgba(221, 221, 221, 0)));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(221, 221, 221, 0) 0%, rgba(221, 221, 221, 1) 10%, rgba(221, 221, 221, 1) 90%, rgba(221, 221, 221, 0) 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(221, 221, 221, 0) 0%, rgba(221, 221, 221, 1) 10%, rgba(221, 221, 221, 1) 90%, rgba(221, 221, 221, 0) 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(221, 221, 221, 0) 0%, rgba(221, 221, 221, 1) 10%, rgba(221, 221, 221, 1) 90%, rgba(221, 221, 221, 0) 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, rgba(221, 221, 221, 0) 0%, rgba(221, 221, 221, 1) 10%, rgba(221, 221, 221, 1) 90%, rgba(221, 221, 221, 0) 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00dddddd', endColorstr='#00dddddd',GradientType=0 );
    /* IE6-8 */
  }
}

hr.clean {
  margin: 15px 0;
  border: 0;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}

/* Header
 *=================================================================== */

header {
  width: 100%;
  border-bottom: 1px solid $alabaster;
  background: $black_haze;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y2ZjZmNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlYWVhZWEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, $black_haze 0%, $gray_nurse 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $black_haze), color-stop(100%, $gray_nurse));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, $black_haze 0%, $gray_nurse 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, $black_haze 0%, $gray_nurse 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, $black_haze 0%, $gray_nurse 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, $black_haze 0%, $gray_nurse 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$black_haze', endColorstr='$gray_nurse',GradientType=0 );
  /* IE6-8 */
  margin-bottom: 80px;
  position: fixed;
  z-index: 1000;
}

@import "includes/nav.scss";

/* Wrapper
 *=================================================================== */
.container {
  width: 100%;
  padding-right: 0px;
}

#wrapper {
  margin-top: 2em;
  margin-bottom: 2em;
  &.row.wcoverArt {
    margin-top: 450px;
    margin-left: 0px;
    margin-right: 0px;
    &.embedded {
      margin-top: 0px;
    }
  }
  &.full {
    border: 1px solid $alabaster;
    border-top: 2px solid $alabaster;
    background: $black_haze;
    /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y2ZjZmNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlYWVhZWEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, $black_haze 0%, $gray_nurse 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $black_haze), color-stop(100%, $gray_nurse));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, $black_haze 0%, $gray_nurse 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, $black_haze 0%, $gray_nurse 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, $black_haze 0%, $gray_nurse 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, $black_haze 0%, $gray_nurse 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$black_haze', endColorstr='$gray_nurse',GradientType=0 );
    /* IE6-8 */
    padding: 20px;
    text-shadow: 0px 1px 0px $white;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
  }
}

/* Wall & Porfolio
 *=================================================================== */

#wrap.dndmode {
  border-width: 5px;
  border-style: dashed;
  border-color: $cl_blue_border;
  margin: 0px;
}

#wall {
  .title {
    padding: 10px 0 10px 0;
    margin-bottom: 10px;
  }
  .item {
    border: 0px solid $alabaster;
    border-top: 0px solid $alabaster;
    background: $black_haze;
    /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y2ZjZmNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlYWVhZWEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, $black_haze 0%, $gray_nurse 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $black_haze), color-stop(100%, $gray_nurse));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, $black_haze 0%, $gray_nurse 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, $black_haze 0%, $gray_nurse 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, $black_haze 0%, $gray_nurse 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, $black_haze 0%, $gray_nurse 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$black_haze', endColorstr='$gray_nurse',GradientType=0 );
    /* IE6-8 */
    padding: 0px;
    text-shadow: 0px 1px 0px $white;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    &.selectedLbit {
        border: 5px solid #486D98;
    }
  }
}

#portfolio .item {
  border: 0px solid $alabaster;
  border-top: 0px solid $alabaster;
  background: $black_haze;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y2ZjZmNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlYWVhZWEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, $black_haze 0%, $gray_nurse 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $black_haze), color-stop(100%, $gray_nurse));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, $black_haze 0%, $gray_nurse 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, $black_haze 0%, $gray_nurse 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, $black_haze 0%, $gray_nurse 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, $black_haze 0%, $gray_nurse 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$black_haze', endColorstr='$gray_nurse',GradientType=0 );
  /* IE6-8 */
  padding: 0px;
  text-shadow: 0px 1px 0px $white;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

body .modal {
  overflow: hidden;
}

#wall .item {
  margin-bottom: 10px;
  height: 280px;
  .meta {
    margin-top: 10px;
  }
  .top_meta {
    margin-top: 0px;
    margin-bottom: 2px;
    position: relative;
    text-align: right;
  }
}

.menu_btn, #wall .item .top_meta_btn {
  display: inline-block;
  border: 0px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold;
  cursor: pointer;
  width: auto;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.menu_divider {
  padding-left: 10px;
  padding-right: 10px;
}

.item {
  .meta span {
    font-size: 12px !important;
    line-height: 16px !important;
    margin-right: 5px;
    i {
      font-size: 16px;
      margin: 0px 2px 0px 0px !important;
      padding-top: 4px !important;
    }
    a {
      color: $black;
    }
  }
  .top_meta span {
    font-size: 12px !important;
    line-height: 16px !important;
    i {
      font-size: 22px;
      margin: 0px 2px 0px 0px !important;
      padding-top: 4px !important;
    }
    a {
      color: $black;
      text-decoration: none;
    }
  }
  .item_title {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1.4em;
    font-weight: normal;
    line-height: 20px;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.5) !important;
    text-transform: capitalize;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0px 10px 0px;
    opacity: 1;
    width: 100%;
    overflow: hidden;
    text-align: center;
    max-height: 90px;
  }
  .editInPlace-active {
    max-height: 150px;
  }
  .picture {
    display: block;
    position: relative;
    z-index: 5;
    a.image {
      z-index: -1;
      text-align: center;
      height: 150px;
      max-height: 150px;
      display: block;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 1px;
      -webkit-box-shadow: inset 0px 0px 1px rgba(0, 0, 0, 0.35);
      -moz-box-shadow: inset 0px 0px 1px rgba(0, 0, 0, 0.35);
      box-shadow: inset 0px 0px 1px rgba(0, 0, 0, 0.35);
      position: relative;
    }
    img {
      display: inline-block;
      text-align: center;
      height: 150px;
      max-height: 150px;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px;
      position: relative;
      z-index: -1;
    }
    .detailed_info, .description {
      font-size: 1.2em;
      margin: 5px 5px 5px 5px;
      word-wrap: break-word;
      height: 100px;
      max-height: 100px;
      overflow-x: hidden;
      overflow-y: hidden;
    }
  }
  .article {
    display: block;
    position: relative;
    z-index: 5;
    width: 20%;
    a.image {
      width: 100%;
      height: auto;
      display: block;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px;
      -webkit-box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.35);
      -moz-box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.35);
      box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.35);
    }
    img {
      width: 100%;
      height: auto;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px;
      position: relative;
      z-index: -1;
      float: left;
      margin-right: 10px;
    }
    .detailed_info, .description {
      margin-top: 0px;
    }
  }
  .quotes {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.35);
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.35);
    font-family: "Boogaloo";
    overflow: hidden;
    height: 85%;
    background: rgba(0, 0, 0, 0.5);
  }
  .quote {
    line-height: 20px;
    font-size: 18px;
    padding: 10px;
    color: $white;
  }
  .author {
    line-height: 22px;
    padding: 15px;
    color: $white;
    font-family: "Boogaloo";
    font-size: 16px;
    text-align: center;
  }
  .flex-video {
    position: relative;
    padding-bottom: 67.5%;
    height: 0;
    overflow: hidden;
    -webkit-border-radius: 2px !important;
    -moz-border-radius: 2px !important;
    &.widescreen {
      padding-bottom: 57.25%;
    }
    &.vimeo {
      padding-top: 0;
    }
    iframe, object, embed {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  .detailed_info ul, .description ul {
    list-style: disc;
    margin-left: 10px;
  }

  .lbit-order {
    font-size: 2em;
    font-weight: bold;
    color: hsla(0, 0%, 0%, 0.8);
    margin: (-5px) 0 0 0px;
    min-width: 30px;
  }
  .lbit-order-display {
    font-size: 2em;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.5) !important;
    width: 35px;
    text-align: left;
    margin: (-5px) 0px 0 0px;
    top: -140px;
    position: relative;
    z-index: 1;
    span {
      margin: 0 5px 0 5px;
    }
  }
  .added_date {
    font-size: 1.2em;
    font-weight: bold;
    color: hsla(0, 0%, 0%, 0.5);
    margin: 0px;
    display: none;
  }
}

/* Page Title
 *=================================================================== */

#page-title {
  padding: 0px 0px;
  margin: 80px 0px -50px 0px;
  text-align: center;
  &.titleWArt {
    position: absolute;
    width: 100%;
    height: 450px;
    left: 0px;
    top: -80px;
    z-index: -999;
  }
  &.embedded {
    position: relative;
    padding: 0px 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
  }
}

.section-title-empty, .section-title {
  position: relative;
  padding: 0px 0px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 0px;
  text-align: left;
}

#page-title a, .section-title-empty a, .section-title a {
  text-decoration: none;
}

.section_menu_btn {
  font-size: 18px;
  padding-left: 5px;
}

.breadcrumb {
  background: transparent;
  margin-bottom: 0px;
  font-size: 14px;
  padding: 0px;
  > .active {
    color: $fuscous_gray;
  }
}

.share-btn {
  margin-top: 0px;
  vertical-align: middle;
  margin-right: -5px;
}

.options-btn {
  margin-top: 0px;
  vertical-align: middle;
  margin-right: -5px;
  .btn-default:active {
    background-color: $cl_blue;
    color: $white;
  }
}

.btn-default.active, .open .dropdown-toggle.btn-default, .options-btn .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
  background-color: $cl_blue;
  color: $white;
}

.topic-options {
  margin-top: -15px;
  margin-right: -15px;
}

.topic-options-btn a {
  text-decoration: none;
}

.share-btn {
  span, i {
    text-decoration: none;
    font-size: 1.2em;
  }
}

.options-btn {
  span, i {
    text-decoration: none;
    font-size: 1.2em;
  }
}

#structure {
  position: relative;
  padding: 5px 0px;
  margin-top: 0px;
  margin-bottom: 5px;
  text-align: left;
}

div.istoolbar_container h1, h2, h3, h4, h5, h6 {
  color: inherit;
}

.post tr#idResizeBar_editorobj1 {
  display: none;
}

#page-title h1 {
  display: inline-block;
  padding: 0px 15px 15px 15px;
  margin: 0 auto;
  background: $mercury;
  font-family: "Economica", Arial, sans-serif;
  color: rgba(80, 80, 80, 0.8);
  font-size: 30px;
}

.section-title-empty h3, .section-title h3 {
  display: inline-block;
  padding: 0px 10px 0px 0px;
  margin: 0px 0px 5px 0px;
  font-family: "Economica", Arial, sans-serif;
  color: rgba(80, 80, 80, 0.8);
  font-size: 26px;
}

.section-title-empty h3 a {
  color: rgba(150, 150, 150, 0.8);
}

/* Page Title Small
 *=================================================================== */

.page-title-small {
  position: relative;
  padding: 5px 0px;
  text-align: center;
  z-index: 10;
  h3 {
    display: inline-block;
    padding: 0px 15px;
    margin: 0 auto;
    background: $gray_nurse;
    font-family: "Economica", Arial, sans-serif !important;
    color: rgba(180, 180, 180, 0.8);
    font-size: 20px;
  }
  &:before, &:after {
    content: "";
    width: 100%;
    position: absolute;
    z-index: -1;
    height: 1px;
    top: 50%;
    left: 0;
  }
}

/* Blog
 *=================================================================== */

.form-panel {
  margin-top: 2.5em;
}

#wrapper {
  .single-post, .sidebar {
    border: 1px solid $alabaster;
    border-top: 2px solid $alabaster;
    background: $black_haze;
    /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y2ZjZmNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlYWVhZWEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, $black_haze 0%, $gray_nurse 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $black_haze), color-stop(100%, $gray_nurse));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, $black_haze 0%, $gray_nurse 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, $black_haze 0%, $gray_nurse 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, $black_haze 0%, $gray_nurse 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, $black_haze 0%, $gray_nurse 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$black_haze', endColorstr='$gray_nurse',GradientType=0 );
    /* IE6-8 */
    padding: 20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
  }
}

.posts {
  padding: 20px 0px 20px 0px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border: 1px solid $alabaster;
  border-top: 2px solid $alabaster;
  background: $black_haze;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y2ZjZmNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlYWVhZWEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, $black_haze 0%, $gray_nurse 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $black_haze), color-stop(100%, $gray_nurse));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, $black_haze 0%, $gray_nurse 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, $black_haze 0%, $gray_nurse 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, $black_haze 0%, $gray_nurse 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, $black_haze 0%, $gray_nurse 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$black_haze', endColorstr='$gray_nurse',GradientType=0 );
  /* IE6-8 */
  padding: 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.posts .post {
  margin: 0 -20px;
  padding: 10px 20px 0px 20px;
  font-size: 14px;
}

.post {
  p {
    font-size: 16px;
    line-height: 27px;
  }
  li {
    font-size: 16px;
    line-height: 27px;
  }
  ul {
    list-style: disc outside;
    margin-left: 10px;
  }
  .well {
    font-size: 14px;
    line-height: 20px;
  }
}

.posts .post {
  &.first {
    border-top: none;
    margin-top: -20px;
  }
  &.last {
    border-bottom: none;
  }
  .picture img {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
  }
}

.post a {
  color: $cl_blue_border;
  text-decoration: none;
}

#wrapper .sidebar .widget {
  .flex-images img {
    width: 120px;
    height: auto;
    margin-bottom: 10px;
    padding: 5px 5px;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=90);
    -moz-opacity: 0.9;
    opacity: 0.9;
    &.chosen {
      padding: 5px 5px;
      -webkit-border-radius: 5px !important;
      -moz-border-radius: 5px !important;
      border-radius: 5px !important;
      border: 5px solid $cl_blue;
      filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
      -moz-opacity: 1;
      opacity: 1;
    }
  }
  margin: 0px -20px;
  border-top: 1px solid rgba(255, 255, 255, 0.7);
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  &.first {
    border-top: none;
    margin-top: -10px;
  }
  &.last {
    border-bottom: none;
  }
  .tags a {
    padding: 2px 3px;
    border: 1px solid $gray_nurse;
    display: inline-block;
    color: $black;
    background: $white;
    margin: 0 3px 3px 0;
    -webkit-box-shadow: 0px 1px 1px 0px rgba(180, 180, 180, 0.1);
    box-shadow: 0px 1px 1px 0px rgba(180, 180, 180, 0.1);
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    border-radius: 1px;
    &:last-child {
      margin-right: 0;
    }
    &:hover {
      background: $cl_blue_border;
      border: 1px solid $cl_blue_border;
      color: $cl_blue;
    }
  }
}


/* Posts
 *=================================================================== */

.post.post-page {
  border: 0px;
  margin-bottom: 0;
}

.post-content {
  border: none;
  padding: 0px 10px;
  margin: 0;
  a {
    text-decoration: none;
  }
}

.post {
  .info {
    width: 60px;
    float: left;
    margin-top: 0px;
  }
  .post-date {
    display: block;
    background: transparent;
    color: $cl_blue_border;
    width: 40px;
    height: 30px;
    text-align: center;
    padding: 10px 0 0 10px;
    margin: 10px 0px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    .day {
      display: block;
      font-size: 30px;
    }
    .month-year {
      display: block;
      font-size: 10px;
    }
  }
  .post-icon {
    display: block;
    width: 80px;
    height: 60px;
    font-size: 40px;
    line-height: 65px;
    color: $cl_blue_border;
    text-align: center;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
  }
  .post-meta {
    color: $fuscous_gray;
    margin: (-10px) 0px 0px 90px;
    padding: 10px 0px;
    a {
      text-decoration: none;
    }
    i {
      opacity: 0.75;
      filter: alpha(opacity = 75);
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
      margin-right: 5px;
      zoom: 1;
    }
    span {
      margin-right: 10px;
    }
  }
}

.nav-tabs {
  font-size: 16px;
  li {
    border-left: 1px solid $alabaster;
    background: $black_haze;
    /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y2ZjZmNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlYWVhZWEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, $black_haze 0%, $gray_nurse 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $black_haze), color-stop(100%, $gray_nurse));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, $black_haze 0%, $gray_nurse 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, $black_haze 0%, $gray_nurse 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, $black_haze 0%, $gray_nurse 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, $black_haze 0%, $gray_nurse 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$black_haze', endColorstr='$gray_nurse',GradientType=0 );
    /* IE6-8 */
  }
  > li.active > a {
    color: $white;
    background: $cl_blue;
    border: none;
    &:hover, &:focus {
      color: $white;
      background: $cl_blue;
      border: none;
    }
  }
}

/* Filters
 *=================================================================== */

#filters {
  text-align: center;
  right: 0;
  margin: 20px 0px 10px 0px;
  font-size: 16px;
  color: #999;
  position: relative;
  z-index: 3;
  ul li {
    display: inline;
  }
  a {
    padding: 5px 10px;
    display: inline-block;
    margin: 0 5px 10px 0;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    &:hover {
      color: $cl_blue !important;
      border-bottom: 1px solid $cl_blue_border !important;
      text-decoration: none;
    }
  }
}

.selected {
  color: $cl_blue !important;
  border-bottom: 1px solid $cl_blue_border !important;
  text-decoration: none;
}

#portfolio-wrapper .post-meta {
  background: #f0eff4;
  color: $fuscous_gray;
  padding: 10px 15px;
  border-top: 2px solid $black_haze;
  a {
    text-decoration: none;
  }
  i {
    opacity: 0.35;
    filter: alpha(opacity = 35);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=35)";
    margin-right: 5px;
    zoom: 1;
  }
  span {
    margin-right: 10px;
  }
}

/* Portfolio Info
 *=================================================================== */

.project-info {
  margin-bottom: 15px;
  .button {
    margin-bottom: 30px !important;
  }
  strong {
    color: $cl_blue_border;
  }
}

.launch {
  margin-bottom: 30px;
  text-shadow: none;
}

.project-tags {
  margin-top: 15px;
  strong {
    float: left;
    margin: 5px 10px 20px 0;
  }
}

/* Pagination
 *=================================================================== */

.pagination {
  text-align: center;
  ul {
    float: right;
  }
  li {
    display: inline-block;
    &.disabled {
      opacity: 0.8;
    }
    &.active a {
      background: $cl_blue;
      color: $white;
    }
  }
}

/* Widgets
 *=================================================================== */

.widget {
  padding: 10px;
  margin-top: 0px;
  &.first {
    margin-top: -30px;
  }
}

/* Tags */

.tags {
  padding: 5px 5px;
  border: 1px solid $gray_nurse;
  display: inline-block;
  color: $black;
  background: $white;
  margin: 0 3px 3px 0;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  border-radius: 1px;
  a {
    &:last-child {
      margin-right: 0;
    }
    &:hover {
      background: $cl_blue;
      border: 1px solid $cl_blue_border;
      color: $black;
    }
  }
}

/* Isotope Filtering
 *=================================================================== */

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/* Isotope CSS3 transitions
 *=================================================================== */

.isotope {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -ms-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
  .isotope-item {
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -ms-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    -ms-transition-property: -ms-transform, opacity;
    -o-transition-property: top, left, opacity;
    transition-property: transform, opacity;
  }
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -ms-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width;
  &.no-transition {
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -ms-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
    .isotope-item {
      -webkit-transition-duration: 0s;
      -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
      -o-transition-duration: 0s;
      transition-duration: 0s;
    }
  }
  .isotope-item.no-transition {
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -ms-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
  }
  &.infinite-scrolling {
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
  }
}

/* List Styles
 *=================================================================== */

.check_list li, .plus_list li, .minus_list li, .star_list li, .arrow_list li, .square_list li, .circle_list li, .cross_list li {
  list-style: none;
  margin: 5px 0;
}

.check_list li {
  background: url(/images/icons/list/grey/list_check.png) no-repeat 0% 50%;
  padding: 0 0 0 18px;
}

.plus_list li {
  background: url(/images/icons/list/grey/list_plus.png) no-repeat 0% 50%;
  padding: 0 0 0 18px;
}

.minus_list li {
  background: url(/images/icons/list/grey/list_minus.png) no-repeat 0% 50%;
  padding: 0 0 0 18px;
}

.star_list li {
  background: url(/images/icons/list/grey/list_star.png) no-repeat 0% 50%;
  padding: 0 0 0 16px;
}

.arrow_list li {
  background: url(/images/icons/list/grey/list_arrow.png) no-repeat 0% 50%;
  padding: 0 0 0 16px;
}

.square_list li {
  background: url(/images/icons/list/grey/list_square.png) no-repeat 0% 50%;
  padding: 0 0 0 16px;
}

.circle_list li {
  background: url(/images/icons/list/grey/list_circle.png) no-repeat 0% 50%;
  padding: 0 0 0 16px;
}

.cross_list li {
  background: url(/images/icons/list/grey/list_cross.png) no-repeat 0% 50%;
  padding: 0 0 0 16px;
}

/* Links List
 *=================================================================== */

.links-list-alt li a {
  font-size: 14px;
  color: $fuscous_gray;
  display: block;
  padding: 6px 12px;
  background: $black_haze;
  border: 1px solid $black_haze;
  margin: 5px 0px;
}

.links-list li a:hover {
  color: $cl_blue;
}

.links-list-alt li a:hover {
  color: $cl_blue_border;
  background: $alabaster;
  border: 1px solid $black_haze;
  text-decoration: none;
}

.links-list li:first-child a, .links-list-alt li:first-child a {
  margin: (-3px) 0 0 0;
}

.ideaInput {
  position: absolute;
  border: none;
  z-index: 999;
  background-color: transparent;
  color: $gray_nurse;
  font-family: "Helvetica";
  font-weight: bold;
  font-size: 13;
  text-align: center;
  resize: none;
  &:focus {
    outline: none;
  }
}

#linkEditWidget {
  background-color: yellow;
  z-index: 999;
  display: none;
  position: absolute;
}

.fullpage {
  width: 100%;
  height: 80%;
  min-height: 800px;
  min-width: 1000px;
  max-width: 100%;
}

.maxedheight {
  height: 100%;
  min-height: 500px;
}

.navbar {
  .popover {
    min-width: 250px;
    min-height: 150px;
    overflow: hidden;
  }
  .popover-content {
    text-align: left;
    height: 100%;
    ul {
      list-style: none !important;
    }
  }
}

li.level {
  clear: none;
  float: left;
  width: 100%;
  a {
    width: 100%;
  }
}

.navbar .dropdown-menu {
  min-width: 200px;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.dropdown-menu .popover-content li > a {
  text-decoration: none;
  display: block;
  padding: 0 0 8px 8px;
}

.navbar .dropdown-menu > li {
  max-width: 250px;
  overflow: hidden;
  > a {
    &:hover {
      background-image: none;
      color: $white;
      background-color: $cl_blue;
    }
    &.maintainHover {
      color: white;
      background-color: $cl_blue;
    }
  }
}

a.topic-map-menu {
  text-decoration: none;
  float: right;
}

span {
  &.pro, &.new {
    margin-left: 5px;
  }
}

/* for safari */

*[draggable=true] {
  -khtml-user-drag: element;
  cursor: move;
}

.grid-title {
  padding: 5px 10px 0px 10px;
  height: 35px;
  overflow: hidden;
  .pull-left span {
    color: #5f5f5f;
    font-size: 14px;
    font-weight: bold;
    height: 14px;
    display: block;
    padding-top: 8px;
    width: 200px;
  }
  .pull-left .item-title {
    padding-right: 10px;
    padding-left: 2px;
    height: 30px;
    margin-top: -10px;
    margin-right: 8px;
    padding-top: 12px;
    float: left;
    color: #5f5f5f;
    a i {
      font-size: 1.5em;
    }
  }
  .pull-right .item-title a i {
    font-size: 1.5em;
  }
}

#lbitadd {
  color: $white;
}

.lbit-discuss {
  position: absolute;
  bottom: 3px;
  left: 5px;
  i {
    font-size: 1.5em;
    color: #5f5f5f;
    max-height: 30px;
  }
}

.lbit-info a, .grid-title .pull-right .item-title a {
  color: #5f5f5f;
  text-decoration: none;
}

.lbit-info a:hover, .grid-title .pull-right .item-title a:hover {
  cursor: pointer;
  color: $cl_blue;
}

.lbit-info {
  font-size: 1.6em;
  z-index: 30;
  margin-top: 0px;
  position: absolute;
  right: 5px;
  bottom: 0px;
  max-height: 30px;
  color: #5f5f5f;
}

.lbit-snapshot {
  font-size: 1.6em;
  z-index: 3;
  margin-top: 0px;
  position: absolute;
  left: 5px;
  bottom: 0px;
  max-height: 30px;
  color: #5f5f5f;
}

.lbit-del-btn {
  font-size: 1.6em;
  position: absolute;
  right: -15px;
  top: -18px;
  max-height: 30px;
  i {
    color: $cl_blue;
    z-index: 20;
  }
}

.lbit-topic-btn {
  margin-top: 0px;
  margin-left: 5px;
  a {
    font-size: 18px;
    text-decoration: none;
  }
}

.share-block {
  margin-top: 5px;
  font-size: 2em;
  a {
    text-decoration: none;
  }
}

.detailed_info {
  display: none;
  height: 100%;
  padding: 10px;
  .lbit-by {
    width: 40px;
    height: 40px;
  }
  .item-tags {
    min-height: 5em;
    max-height: 5em;
    overflow: hidden;
  }
}

.item-user-info {
  margin-bottom: 10px;
}

.lbit-bookmark {
  width: 100%;
  line-height: 20px;
  background-color: white;
  cursor: text;
  box-shadow: none;
  border: 1px solid #bdc3c7;
}

.expanded .detailed_info {
  display: block;
}

.navProfileImage {
  max-width: 25px;
  max-height: 25px;
  margin-top: -5px;
}

@media (max-width: 1023px) {
  .nav-collapse {
    overflow-y: auto;
  }
}

.profilewrapper {
  text-align: center;
  padding: 0px 0px 15px 0px;
}

.full_picture {
  text-align: center;
  margin-top: 10px;
  a.image {
    display: block;
    img {
      display: inline;
    }
  }
}

.apollo-seperator {
  position: relative;
  display: block;
  margin: 10px 0 10px 0;
  text-align: center;
  color: $fuscous_gray;
}

.apollo-seperator-large {
  position: relative;
  display: block;
  margin: 10px 0 10px 0;
  text-align: center;
  color: $fuscous_gray;
  font-size: 16px;
}

.linked.label, .empty.label, .collaborator.label, .deleted.label {
  margin: -10px 0px 0px 10px;
  text-transform: lowercase;
}

.topic-body {
  margin-top: 0px;
  margin-bottom: 0px;
  background: none;
  border: none;
}

.topic-synopsis {
  color: $black;
  display: block;
  line-height: 20px;
  padding: 10px 0 10px 0;
  min-height: 30px;
  max-height: 100px;
  margin-top: -20px;
  margin-bottom: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
}

.section-all-link {
  margin-top: 2px;
  margin-left: 5px;
  i {
    font-size: 0.5em;
  }
}

.dropdown-menu > li > a {
  white-space: normal;
  padding-right: 10px;
}

.btn-primary {
  color: $white;
  background-color: $cl_blue;
  border-color: $cl_blue_border;
  &:hover {
    color: $white;
    background-color: $cl_blue;
    border-color: $cl_blue_border;
  }
  &.disabled {
    color: $white;
    background-color: $cl_blue;
    border-color: $cl_blue_border;
    opacity: 0.65;
  }
}

.topic-edit-class button {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  font-weight: normal;
}

.breadcrumb_wrapper {
  border-bottom: 1px solid $alabaster;
  background: $black_haze;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y2ZjZmNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlYWVhZWEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, $black_haze 0%, $gray_nurse 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $black_haze), color-stop(100%, $gray_nurse));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, $black_haze 0%, $gray_nurse 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, $black_haze 0%, $gray_nurse 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, $black_haze 0%, $gray_nurse 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, $black_haze 0%, $gray_nurse 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$black_haze', endColorstr='$gray_nurse',GradientType=0 );
  /* IE6-8 */
  opacity: 0.9;
  &:hover {
    opacity: 1;
  }
}

.bc_options {
  margin-left: 0px;
  &.dropdown {
    margin-left: 0px;
  }
  &::before {
    padding: 0 !important;
    content: none !important;
  }
}

.topic_lbits_wrapper {
  background-color: rgba(227, 227, 227, 0.9);
  margin-bottom: 2px;
  .topic_lbits {
      margin: 0px 15px 0px 15px;
  }
  &:hover {
    background-color: rgba(227, 227, 227, 0.95);
  }
}

.topic_lbits_wrapper_nav {
  &:hover {
    cursor: pointer;
  }
}

.st_options {
  display: none;
}

.topic_lbits_wrapper:hover .st_options {
  display: inline;
}

.note-editable p {
  font-size: 14px;
}

.topbar {
  position: fixed;
  background: $cl_blue;
  border-bottom: solid 2px $gray_nurse;
  padding: 3px 0;
  text-align: center;
  color: white;
  z-index: 9999;
  top: 50px;
  width: 100%;
  height: 50px;
}

.panel-title {
  font-size: 20px;
  line-height: 40px;
}

.collab-user-row {
  padding-bottom: 5px;
  height: 60px;
}

div.collab-wrapper.row {
  max-height: 250px;
  overflow: auto;
  border-bottom: 1px solid $alabaster;
  background: $black_haze;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y2ZjZmNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlYWVhZWEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, $black_haze 0%, $gray_nurse 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $black_haze), color-stop(100%, $gray_nurse));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, $black_haze 0%, $gray_nurse 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, $black_haze 0%, $gray_nurse 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, $black_haze 0%, $gray_nurse 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, $black_haze 0%, $gray_nurse 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$black_haze', endColorstr='$gray_nurse',GradientType=0 );
  /* IE6-8 */
}

.collab-remove {
  font-size: 1.4em;
}

.lbit-edit-btn, .lbit-del-btn {
  display: block;
}

.item {
  a.image:hover {
    border: 2px solid $cl_blue;
    -webkit-transition: border 500ms ease-out;
    -moz-transition: border 500ms ease-out;
    -o-transition: border 500ms ease-out;
    transition: border 500ms ease-out;
  }
}

.clblue {
  color: $cl_blue;
}

@import "includes/tag-it.scss";
@import "includes/select2.scss";
@import "includes/prettyPhoto.scss";
@import "includes/bootstrap-notify.scss";
@import "includes/bootstrap-tour.scss";
@import "includes/table.scss";
@import "includes/animate.scss";
@import "includes/forms.scss";
@import "includes/search.scss";
@import "includes/footer.scss";
@import "includes/mobile.scss";
@import "includes/dropzone.scss";
@import "includes/cover-art.scss";
@import "includes/fab.scss";
