.subbranding {
    display: none;
}

#services > .active > a, #services > .active > a:hover {
    border-left: 8px solid #486D98;
}

.btn-primary {
    color: #FFF;
    background-color: #486D98;
    border-color: #213a59;
}

.btn-primary:hover {
    color: #FFF;
    background-color: #486D98;
    border-color: #213a59;
}

.btn-primary.disabled {
    color: #FFF;
    background-color: #486D98;
    border-color: #213a59;
    opacity: 0.65;
}
