@font-face {
  font-family: 'Boogaloo';
  font-style: normal;
  font-weight: 400;
  src: local('Boogaloo'), local('Boogaloo-Regular'), url(/font/boogaloo/roBhx8S2P1QWF7rF8SGCRvesZW2xOQ-xsNqO47m55DA.ttf) format('truetype');
}
