// Colours
$cl_blue: #486D98;
$cl_blue_border: #213A59;
$white: #FFF;
$black: #000;
$mercury: #e3e3e3;
$alabaster: #fafafa;
$black_haze: #f6f6f6;
$gray_nurse: #eaeaea;
$fuscous_gray: rgb(80, 80, 80);
