@import "base.scss";

.fabContainer {
  bottom: 40px;
  position: fixed;
  margin: 1em;
  right: 0px;
  z-index: 30;
}

.buttons {
  box-shadow: 0px 5px 11px -2px rgba(0, 0, 0, 0.18), 0px 4px 12px -7px rgba(0, 0, 0, 0.15);
  border-radius: 50%;
  display: none;
  width: 56px;
  height: 56px;
  margin: 10px auto 0;
  position: relative;
  background-color: $cl_blue;
  -webkit-transition: all .1s ease-out;
  transition: all .1s ease-out;
  i {
    font-size: 1.8em;
    color: #fff;
    margin: 10px 0 0 10px;
  }
}

.plusButton, .fabContainer.plusButtonOpen .buttons, .plusButton .buttons {
  display: block;
}

.buttons {
  &:active, &:focus, &:hover {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
  }
  &:not(:last-child) {
    width: 35px;
    height: 35px;
    margin: 10px auto 0 auto;
    opacity: 0;
  }
}

.fabContainer.plusButtonOpen .buttons:not(:last-child) {
  opacity: 1;
  width: 40px;
  height: 40px;
  margin: 10px auto 0;
}

/* Styling for showing buttons at differnt speeds */

.buttons {
  &:nth-last-child(1) {
    -webkit-transition-delay: 25ms;
    transition-delay: 25ms;
  }
  &:not(:last-child) {
    &:nth-last-child(2) {
      -webkit-transition-delay: 20ms;
      transition-delay: 20ms;
      background-position: center;
      background-repeat: no-repeat;
    }
    &:nth-last-child(3) {
      -webkit-transition-delay: 40ms;
      transition-delay: 40ms;
      background-position: center;
      background-repeat: no-repeat;
    }
    &:nth-last-child(4) {
      -webkit-transition-delay: 60ms;
      transition-delay: 60ms;
      background-size: contain;
    }
    &:nth-last-child(5) {
      -webkit-transition-delay: 80ms;
      transition-delay: 80ms;
      background-size: contain;
    }
    &:nth-last-child(6) {
      -webkit-transition-delay: 100ms;
      transition-delay: 100ms;
      background-size: contain;
    }
  }
}

/* Rotate primary button on hover */

.rotate {
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
  position: absolute;
  margin: 15px auto auto 15px;
  max-width: 24px;
  width: 24px;
  height: 24px;
  background-image: url('/images/bt_speed_dial_1x.png');
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  background-size: contain;
}

.fabContainer.plusButtonOpen .rotate {
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  background-image: url('/images/bt_compose2_2x.png');
}
