@import "base.scss";

.select2-container {
  margin: 0;
  position: relative;
  display: inline-block;
  zoom: 1;
  *display: inline;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.select2-drop {
  -webkit-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.select2-search {
  -webkit-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  input {
    -webkit-box-sizing: border-box;
    -khtml-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
  }
}

.select2-container {
  .select2-choice {
    display: block;
    height: 26px;
    padding: 0 0 0 8px;
    overflow: hidden;
    position: relative;
    border: 1px solid #aaa;
    white-space: nowrap;
    line-height: 26px;
    color: #444;
    text-decoration: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: $white;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, $gray_nurse), color-stop(0.5, $white));
    background-image: -webkit-linear-gradient(center bottom, $gray_nurse 0, $white 50%);
    background-image: -moz-linear-gradient(center bottom, $gray_nurse 0, $white 50%);
    background-image: -o-linear-gradient(bottom, $gray_nurse 0, $white 50%);
    background-image: -ms-linear-gradient(top, $white 0, $gray_nurse 50%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$white', endColorstr='$gray_nurseeee', GradientType=0);
    background-image: linear-gradient(top, $white 0, $gray_nurse 50%);
  }
  &.select2-drop-above .select2-choice {
    border-bottom-color: #aaa;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, $gray_nurse), color-stop(0.9, $white));
    background-image: -webkit-linear-gradient(center bottom, $gray_nurse 0, $white 90%);
    background-image: -moz-linear-gradient(center bottom, $gray_nurse 0, $white 90%);
    background-image: -o-linear-gradient(bottom, $gray_nurse 0, $white 90%);
    background-image: -ms-linear-gradient(top, $gray_nurse 0, $white 90%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$white', endColorstr='$gray_nurseeee', GradientType=0);
    background-image: linear-gradient(top, $gray_nurse 0, $white 90%);
  }
  &.select2-allowclear .select2-choice span {
    margin-right: 42px;
  }
  .select2-choice {
    span {
      margin-right: 26px;
      display: block;
      overflow: hidden;
      white-space: nowrap;
      -ms-text-overflow: ellipsis;
      -o-text-overflow: ellipsis;
      text-overflow: ellipsis;
    }
    abbr {
      display: none;
      width: 12px;
      height: 12px;
      position: absolute;
      right: 24px;
      top: 8px;
      font-size: 1px;
      text-decoration: none;
      border: 0;
      background: url(/images/select2.png) right top no-repeat;
      cursor: pointer;
      outline: 0;
    }
  }
  &.select2-allowclear .select2-choice abbr {
    display: inline-block;
  }
  .select2-choice abbr:hover {
    background-position: right -11px;
    cursor: pointer;
  }
}

.select2-drop-mask {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9998;
}

.select2-drop {
  width: 100%;
  margin-top: -1px;
  position: absolute;
  z-index: 9999;
  top: 100%;
  background: $white;
  color: $black;
  border: 1px solid #aaa;
  border-top: 0;
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
  -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
}

.select2-drop-auto-width {
  border-top: 1px solid #aaa;
  width: auto;
  .select2-search {
    padding-top: 4px;
  }
}

.select2-drop.select2-drop-above {
  margin-top: 1px;
  border-top: 1px solid #aaa;
  border-bottom: 0;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
  -webkit-box-shadow: 0 -4px 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 -4px 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 -4px 5px rgba(0, 0, 0, 0.15);
}

.select2-container .select2-choice div {
  display: inline-block;
  width: 18px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  border-left: 1px solid #aaa;
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  background: #ccc;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #ccc), color-stop(0.6, $gray_nurse));
  background-image: -webkit-linear-gradient(center bottom, #ccc 0, $gray_nurse 60%);
  background-image: -moz-linear-gradient(center bottom, #ccc 0, $gray_nurse 60%);
  background-image: -o-linear-gradient(bottom, #ccc 0, $gray_nurse 60%);
  background-image: -ms-linear-gradient(top, #ccc 0, $gray_nurse 60%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$gray_nurseeee', endColorstr='#cccccc', GradientType=0);
  background-image: linear-gradient(top, #ccc 0, $gray_nurse 60%);
  b {
    display: block;
    width: 100%;
    height: 100%;
    background: url(/images/select2.png) no-repeat 0 1px;
  }
}

.select2-search {
  display: inline-block;
  width: 100%;
  min-height: 26px;
  margin: 0;
  padding-left: 4px;
  padding-right: 4px;
  position: relative;
  z-index: 10000;
  white-space: nowrap;
  input {
    width: 100%;
    height: auto !important;
    min-height: 26px;
    padding: 4px 20px 4px 5px;
    margin: 0;
    outline: 0;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 14px;
    border: 1px solid #aaa;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background: $white url(/images/select2.png) no-repeat 100% -22px;
    background: url(/images/select2.png) no-repeat 100% -22px, -webkit-gradient(linear, left bottom, left top, color-stop(0.85, $white), color-stop(0.99, $gray_nurse));
    background: url(/images/select2.png) no-repeat 100% -22px, -webkit-linear-gradient(center bottom, $white 85%, $gray_nurse 99%);
    background: url(/images/select2.png) no-repeat 100% -22px, -moz-linear-gradient(center bottom, $white 85%, $gray_nurse 99%);
    background: url(/images/select2.png) no-repeat 100% -22px, -o-linear-gradient(bottom, $white 85%, $gray_nurse 99%);
    background: url(/images/select2.png) no-repeat 100% -22px, -ms-linear-gradient(top, $white 85%, $gray_nurse 99%);
    background: url(/images/select2.png) no-repeat 100% -22px, linear-gradient(top, $white 85%, $gray_nurse 99%);
  }
}

.select2-drop.select2-drop-above .select2-search input {
  margin-top: 4px;
}

.select2-search input.select2-active {
  background: $white url(/images/select2-spinner.gif) no-repeat 100%;
  background: url(/images/select2-spinner.gif) no-repeat 100%, -webkit-gradient(linear, left bottom, left top, color-stop(0.85, $white), color-stop(0.99, $gray_nurse));
  background: url(/images/select2-spinner.gif) no-repeat 100%, -webkit-linear-gradient(center bottom, $white 85%, $gray_nurse 99%);
  background: url(/images/select2-spinner.gif) no-repeat 100%, -moz-linear-gradient(center bottom, $white 85%, $gray_nurse 99%);
  background: url(/images/select2-spinner.gif) no-repeat 100%, -o-linear-gradient(bottom, $white 85%, $gray_nurse 99%);
  background: url(/images/select2-spinner.gif) no-repeat 100%, -ms-linear-gradient(top, $white 85%, $gray_nurse 99%);
  background: url(/images/select2-spinner.gif) no-repeat 100%, linear-gradient(top, $white 85%, $gray_nurse 99%);
}

.select2-container-active {
  .select2-choice, .select2-choices {
    border: 1px solid $cl_blue;
    outline: 0;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }
}

.select2-dropdown-open {
  .select2-choice {
    border-bottom-color: transparent;
    -webkit-box-shadow: 0 1px 0 $white inset;
    -moz-box-shadow: 0 1px 0 $white inset;
    box-shadow: 0 1px 0 $white inset;
    -webkit-border-bottom-left-radius: 0;
    -moz-border-radius-bottomleft: 0;
    border-bottom-left-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -moz-border-radius-bottomright: 0;
    border-bottom-right-radius: 0;
    background-color: $gray_nurse;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, $white), color-stop(0.5, $gray_nurse));
    background-image: -webkit-linear-gradient(center bottom, $white 0, $gray_nurse 50%);
    background-image: -moz-linear-gradient(center bottom, $white 0, $gray_nurse 50%);
    background-image: -o-linear-gradient(bottom, $white 0, $gray_nurse 50%);
    background-image: -ms-linear-gradient(top, $white 0, $gray_nurse 50%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$gray_nurseeee', endColorstr='$white', GradientType=0);
    background-image: linear-gradient(top, $white 0, $gray_nurse 50%);
  }
  &.select2-drop-above {
    .select2-choice, .select2-choices {
      border: 1px solid $cl_blue;
      border-top-color: transparent;
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, $white), color-stop(0.5, $gray_nurse));
      background-image: -webkit-linear-gradient(center top, $white 0, $gray_nurse 50%);
      background-image: -moz-linear-gradient(center top, $white 0, $gray_nurse 50%);
      background-image: -o-linear-gradient(top, $white 0, $gray_nurse 50%);
      background-image: -ms-linear-gradient(bottom, $white 0, $gray_nurse 50%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$gray_nurseeee', endColorstr='$white', GradientType=0);
      background-image: linear-gradient(bottom, $white 0, $gray_nurse 50%);
    }
  }
  .select2-choice div {
    background: transparent;
    border-left: 0;
    filter: none;
    b {
      background-position: (-18px) 1px;
    }
  }
}

.select2-results {
  max-height: 200px;
  padding: 0 0 0 4px;
  margin: 4px 4px 4px 0;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  ul.select2-result-sub {
    margin: 0;
    padding-left: 0;
    > li .select2-result-label {
      padding-left: 20px;
    }
    ul.select2-result-sub {
      > li .select2-result-label {
        padding-left: 40px;
      }
      ul.select2-result-sub {
        > li .select2-result-label {
          padding-left: 60px;
        }
        ul.select2-result-sub {
          > li .select2-result-label {
            padding-left: 80px;
          }
          ul.select2-result-sub {
            > li .select2-result-label {
              padding-left: 100px;
            }
            ul.select2-result-sub {
              > li .select2-result-label {
                padding-left: 110px;
              }
              ul.select2-result-sub > li .select2-result-label {
                padding-left: 120px;
              }
            }
          }
        }
      }
    }
  }
  li {
    list-style: none;
    display: list-item;
    background-image: none;
    &.select2-result-with-children > .select2-result-label {
      font-weight: 700;
    }
  }
  .select2-result-label {
    padding: 3px 7px 4px;
    margin: 0;
    cursor: pointer;
    min-height: 1em;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .select2-highlighted {
    background: $cl_blue;
    color: $white;
  }
  li em {
    background: #feffde;
    font-style: normal;
  }
  .select2-highlighted {
    em {
      background: transparent;
    }
    ul {
      background: $white;
      color: $black;
    }
  }
  .select2-no-results, .select2-searching, .select2-selection-limit {
    background: $gray_nurse;
    display: list-item;
  }
  .select2-disabled {
    &.select2-highlighted {
      color: $fuscous_gray;
      background: $gray_nurse;
      display: list-item;
      cursor: default;
    }
    background: $gray_nurse;
    display: list-item;
    cursor: default;
  }
  .select2-selected {
    display: none;
  }
}

.select2-more-results {
  &.select2-active {
    background: $gray_nurse url(/images/select2-spinner.gif) no-repeat 100%;
  }
  background: $gray_nurse;
  display: list-item;
}

.select2-container.select2-container-disabled .select2-choice {
  background-color: $gray_nurse;
  background-image: none;
  border: 1px solid #ddd;
  cursor: default;
  div {
    background-color: $gray_nurse;
    background-image: none;
    border-left: 0;
  }
  abbr {
    display: none;
  }
}

.select2-container-multi .select2-choices {
  height: auto !important;
  height: 1%;
  margin: 0;
  padding: 0;
  position: relative;
  border: 1px solid #aaa;
  cursor: text;
  overflow: hidden;
  background-color: $white;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(1%, $gray_nurse), color-stop(15%, $white));
  background-image: -webkit-linear-gradient(top, $gray_nurse 1%, $white 15%);
  background-image: -moz-linear-gradient(top, $gray_nurse 1%, $white 15%);
  background-image: -o-linear-gradient(top, $gray_nurse 1%, $white 15%);
  background-image: -ms-linear-gradient(top, $gray_nurse 1%, $white 15%);
  background-image: linear-gradient(top, $gray_nurse 1%, $white 15%);
}

.select2-locked {
  padding: 3px 5px !important;
}

.select2-container-multi {
  .select2-choices {
    min-height: 26px;
  }
  &.select2-container-active .select2-choices {
    border: 1px solid $cl_blue;
    outline: 0;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }
  .select2-choices {
    li {
      float: left;
      list-style: none;
    }
    .select2-search-field {
      margin: 0;
      padding: 0;
      white-space: nowrap;
      input {
        padding: 5px;
        margin: 1px 0;
        font-family: "Source Sans Pro", sans-serif;
        font-size: 14px;
        color: $fuscous_gray;
        outline: 0;
        border: 0;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        background: transparent !important;
        &.select2-active {
          background: $white url(/images/select2-spinner.gif) no-repeat 100% !important;
        }
      }
    }
  }
}

.select2-default {
  color: #999 !important;
}

.select2-container-multi .select2-choices {
  .select2-search-choice {
    font-size: 14px;
    padding: 3px 5px 3px 18px;
    margin: 3px 0 3px 5px;
    position: relative;
    color: $white;
    cursor: default;
    border: 1px solid $cl_blue_border;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: $cl_blue;
    span {
      cursor: default;
    }
  }
  .select2-search-choice-focus {
    background: #d4d4d4;
  }
}

.select2-search-choice-close {
  display: block;
  width: 12px;
  height: 13px;
  position: absolute;
  right: 3px;
  top: 4px;
  font-size: 1px;
  outline: 0;
  background: url(/images/select2.png) right top no-repeat;
}

.select2-container-multi {
  .select2-search-choice-close {
    left: 3px;
  }
  .select2-choices {
    .select2-search-choice .select2-search-choice-close:hover, .select2-search-choice-focus .select2-search-choice-close {
      background-position: right -11px;
    }
  }
  &.select2-container-disabled .select2-choices {
    background-color: $gray_nurse;
    background-image: none;
    border: 1px solid #ddd;
    cursor: default;
    .select2-search-choice {
      padding: 3px 5px;
      border: 1px solid #ddd;
      background-image: none;
      background-color: $gray_nurse;
      .select2-search-choice-close {
        display: none;
        background: 0;
      }
    }
  }
}

.select2-result-selectable .select2-match, .select2-result-unselectable .select2-match {
  text-decoration: underline;
}

.select2-offscreen {
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  border: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: absolute;
  outline: 0;
  left: 0;
  &:focus {
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    border: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: absolute;
    outline: 0;
    left: 0;
  }
}

.select2-display-none {
  display: none;
}

.select2-measure-scrollbar {
  position: absolute;
  top: -10000px;
  left: -10000px;
  width: 100px;
  height: 100px;
  overflow: scroll;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) {
  .select2-search input, .select2-search-choice-close {
    background-image: url(/images/select2.png) !important;
    background-repeat: no-repeat !important;
    background-size: 60px 40px !important;
  }
  .select2-container .select2-choice {
    abbr, div b {
      background-image: url(/images/select2.png) !important;
      background-repeat: no-repeat !important;
      background-size: 60px 40px !important;
    }
  }
  .select2-search input {
    background-position: 100% -21px !important;
  }
}
