<tr>
    <td align="center" valign="top">
    <!-- // Begin Template Footer \\ -->
    <table border="0" cellpadding="10" cellspacing="0" width="600" id="templateFooter">
        <tr>
            <td valign="top" class="footerContent">

                <!-- // Begin Module: Transactional Footer \\ -->
                <table border="0" cellpadding="10" cellspacing="0" width="100%">
                    <tr>
                        <td valign="top">
                            <div>
                                <em>Powered by <a href="https://www.colearnr.com">CoLearnr</a></em>
                            </div>
                        </td>
                    </tr>
                </table>
                <!-- // End Module: Transactional Footer \\ -->

            </td>
        </tr>
    </table>
    <!-- // End Template Footer \\ -->
</td>
</tr>
