<link rel="stylesheet" href="/dist/stylesheets/includes/cover-art.min.css?<%- page_options.version %>" type="text/css" media="screen">
<%
  var spacerClass = "spacerNone";
  if (!util.empty(lbit.title) && util.empty(lbit.description)) {
    spacerClass = "spacerHeader";
  }
  if (!util.empty(lbit.title) && !util.empty(lbit.description)) {
    spacerClass = "spacerHeaderDescription";
  }
 %>
<div id="page-title" class="spacer <%- spacerClass %>">
    <div class="row coverArt">
    		<%
    		var images = config.default_cover_arts.split(',');
        var randomImage = Math.floor((Math.random() * (images.length)));
        var rimg = images[randomImage].replace(/'/g, '');
        %>
        <img src="<% if (lbit.img_url.length) { %><%- lbit.img_url[0] %><% } else { %><%- rimg %><% } %>">
        <h1><%- lbit.title || '' %></h1>
        <span class="description col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1"><%- lbit.description || '' %></span>
    </div>
</div>
