<link rel="stylesheet" href="/dist/stylesheets/lbit.min.css?<%- page_options.version %>" type="text/css" media="screen">
<%
  var spacerClass = "spacerNone";
  if (!util.empty(lbit.title) && util.empty(lbit.description)) {
    spacerClass = "spacerHeader";
  }
  if (!util.empty(lbit.title) && !util.empty(lbit.description)) {
    spacerClass = "spacerHeaderDescription";
  }
 %>
<div id="page-title" class="spacer <%- spacerClass %>">
    <div class="row coverArt">
        <%
        var images = config.default_cover_arts.split(',');
        var randomImage = Math.floor((Math.random() * (images.length)));
        var rimg = images[randomImage].replace(/'/g, '');
        %>
        <img src="<% if (lbit.img_url && lbit.img_url.length) { %><%- lbit.img_url[0] %><% } else { %><%- rimg %><% } %>">
        <h1><%- lbit.title || '' %></h1>
        <% if (!util.empty(lbit.description)) { %>
        <span class="description"><%- lbit.description || '' %></span>
        <% } %>
        <% if (lbit.friendlyTime) { %>
        <span class="readabilityStats pull-right"><i class="fa fa-clock-o"> <%- lbit.friendlyTime %></i></span>
        <% } %>
    </div>
</div>
